<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>
        You have <b>{{cart.totalItemsCount}}</b> items in your shopping cart
        <button 
        *ngIf="cart.items"
        (click)="clearCart()"
        class="btn btn-danger btn-sm">Clear Shopping Cart</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th >Product</th>
                <th class="text-center" style="width: 450px;">Quantity</th>
                <th class="text-right" style="width: 400px;">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>
                 <img [src]="item.product.imageUrl"class="thumbnail"> 
                    <!-- <div [style.backgroundImage]="'url('+ item.imageUrl +')'" class="thumbnail" ></div> -->
                </td>
                <td>{{item.product.title}}</td>
                <td> 
                    <product-quantity  [product]="item.product" [shopping-cart]="cart">
                    </product-quantity>
                <!-- {{item.quantity}} -->
            </td>
                 <td class="text-right"> {{item.totalPrice| currency:'USD':'symbol' }}</td> 
            </tr>
        </tbody>
        <tfoot>
            <tr>
            <th></th>
            <th></th>
            <th>TotalPrice</th>
            <th>{{cart.totalPrice | currency:'USD':'symbol'}}</th>
        </tr>
        </tfoot>
    </table>
    <button
    *ngIf="cart.items"
    routerLink="/check-out"
    class="btn btn-primary">Check Out</button>
   
</ng-container>