<div style="padding-top: 40px;"></div>
<p><a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input 
    #query (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search..."> 
</p>

    <!-- <data-table datatable 
    [items]="items"
    [itemCount]="itemCount"
    (reload) = "reloadItems($event)"
    >
        <data-table-column
        [property]="'title'"
        [header] ="'Title'"
        [sortable]="true"
        [resizable]="true"
        >
    </data-table-column>
        <data-table-column
        [property]="'title'"
        [header] ="'Title'"
        [sortable]="true"
        [resizable]="true"
        >
        <ng-template #dataTableCell let-item="product">
            {{product.price | currency:'USD':'symbol'}}
        </ng-template>
        </data-table-column>
        <data-table-column
        [property]="'key'"
        >
        <ng-template #dataTableCell let-item="items">
            <a [routerLink]="['/admin/products/' ,items.keys]">Edit</a>
        </ng-template>
        </data-table-column>
    </data-table> -->
 <table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts "> 
            <td>{{p.data.title}}</td>
            <td>{{p.data.price| currency:'USD':'symbol'}}</td>
            <td>
                <a [routerLink]="['/admin/products/' ,p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table> 
<!-- 
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
    
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let items"> {{items.itemCount}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let product"> {{product.title}} </td>
      </ng-container>
  
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> price </th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div> -->
